@charset "UTF8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #000000e1;
    color: white;
}
header{

}
header abbr img{
    flex-direction: column; /*img foi p baixo*/
    justify-content: space-between; /*espaçamento igual*/
    align-items: center;
    justify-content: left;
    text-align: left;
}