@charset "UTF8";

@font-face {
    font-family: titulo;
    src: url(fontes/josephsophia.otf);
}

*{
    margin: 0%;
    padding: 0%;
}

:root{
    --colorinta:#ff226f;
    --titulo: "titulo";                 
}

body{
    background-color: #000000;
    color: white;

    overflow-x: hidden; /*tirando a rolagem horizontal*/
}

header{
    display: flex;
    padding: 20px;
}
header div nav{
    display: flex;
    align-items: center; /*alinhado do centro*/
}

header div h2{
    padding-bottom: 15px;
    padding-right: 180px;
    padding-left: 10px;
    font-family: var(--titulo);
    font-size: 2em;
    font-weight: 100;

    border-right: 1px solid rgba(255, 255, 255, 0.144);
    padding-right: 110px;
    padding-left: 5px;
}

header div a{
    text-decoration: none;
    color: white;
    padding-right: 15px;
    padding-top: 16px;
}

header div img{
    width: 55px; height: 55px;
}
header div nav img{
    border-radius: 50%;
    padding: 2px;
    border: 2px solid var(--colorinta);
}

header div nav p{
    font-size: 0.7em;
}

header div table{
    padding-top: 20px;
    padding-left: 15%;
}
header table img{
    width: 45px; height: 45px;
    padding: 6px;
    cursor: pointer;
}
header table td{
    font-size: 0.7em;
    cursor: pointer;
}
.seguir{
    padding-left: 45%; 
    color: #0d88da;  
    font-size: 0.73em;
}
#textinho{
    color: #6C6C6C;
    padding-top: 30px; padding-bottom: 10px; padding-left: 60px;
}
header div div h4{ 
    font: 600 0.8em Arial, Helvetica, sans-serif;
    color: #adababd2; padding-left: 25%; padding-top: 10px; padding-bottom: 0px; width: 320px;
    cursor: pointer;
}


main{
    margin-top: -370px;
}
main article{
    padding: 10px;
    display: flex;
}
main article table{
    position: fixed;
    margin-top: -50px;
    
    border-right: 1px solid rgba(255, 255, 255, 0.144);
    padding-right: 71px;
}
main article table img{
    width: 25px; height: 25px;
    padding: 12px;
}
main article table td{
    font-size: 1em;
    cursor: pointer;
}

main section{
    padding-left: 28%;
}
.div1{
    position: relative;
}
.div2{
    position: absolute;
    bottom: 15px;
    padding-left: 40px;
}
main section div img{
    width: 35px; height: 35px;
    padding-bottom: 1px;
    padding-left: 10px;
}
main section div p{
    display: inline;
    padding: 10px;
}
main section figure img{
    width: 450px; height: 450px;
    margin: 10px;
    background-color: #00c3ff;
}
main section figure figcaption{
    padding: 10px
}


