@charset "UTF8";

@font-face {
    font-family: titulo;
    src: url(fontes/josephsophia.otf);
}

*{
    margin: 0%;
    padding: 0%;
}

:root{
    --colorinta:#ff226f;
    --titulo: "titulo";                 
}

body{
    background-color: #000000;
    color: white;
}

header{
    display: flex;
    padding: 20px;
}
header div nav{
    display: flex;
    align-items: center; /*alinhado do centro*/
}
header div h2{
    padding-bottom: 15px;
    padding-right: 180px;
    padding-left: 10px;
    font-family: var(--titulo);
    font-size: 2.1em;
    font-weight: 100;
}
header div a{
    text-decoration: none;
    color: white;
    padding-right: 15px;
    padding-top: 15px;
}
header div img{
    width: 63px; height: 63px;
}
header div nav img{
    border-radius: 50%;
    padding: 2px;
    border: 3px solid var(--colorinta);
}
header div nav p{
    font-size: 0.8em;
}

#linha_vertical{
    height: 520px;/*Altura da linha*/
    border-left: 1px solid rgb(63, 63, 63);/* Adiciona borda direita na div como ser fosse uma linha.*/
    padding: 10px;
}

header div table{
    padding-top: 20px;
    padding-left: 25%;
}
header table img{
    width: 50px; height: 50px;
    padding: 10px;
    cursor: pointer;
}
header table td{
    font-size: 0.8em;
    cursor: pointer;
}
.seguir{
    padding-left: 36%; 
    color: #00c3ff;  
    font-size: 0.73em;
}
header div div h5{ 
    color: #adababd2; padding-left: 25%; padding-top: 10px; padding-bottom: 0px; width: 320px;
    cursor: pointer;
}


main{
    margin-top: -465px;
}
main article{
    padding: 15px;
    display: flex;
}
main article table{
    position: fixed;
    margin-top: -50px;
}
main article table img{
    width: 30px; height: 30px;
    padding: 13px;
}
main article table td{
    cursor: pointer;
}

main section{
    padding-left: 28%;
}
.div1{
    position: relative;
}
.div2{
    position: absolute;
    bottom: 20px;
    left: 30px;
}
main section div img{
    width: 35px; height: 35px;
    padding-bottom: 10px;
}
main section div p{
    display: inline;
    padding: 12px;
}
main section figure img{
    width: 500px; height: 500px;
    margin: 10px;
    background-color: #00c3ff;
}
main section figure figcaption{
    padding: 10px
}


