@charset "UTF8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #000000e1;
    color: white;
}

header{
    padding: 20px;
    margin-bottom: 50px;
}
header div{
    display: flex;
    flex-direction: column; /*img foi p baixo*/
    justify-content: space-between; /*espaçamento igual*/
    justify-content: left;
}
header div h3{
    padding: 10px;

}
header div img{
    width: 30px;
    height: 30px;
    padding: 15px;
}
header figcaption{
    display: flex; /*coloquei na lateral os icones*/
    align-items: center; /*centralizar os icones*/
    justify-content: space-between; /*espaçamento igual*/
}


#linha_vertical{
    height: 295px;/*Altura da linha*/
    border-right: 1px solid rgb(124, 123, 123);/* Adiciona borda direita na div como ser fosse uma linha.*/
    padding: 10px;
}
