@charset "UTF8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #000000e1;
    color: white;
}

header{
    padding: 20px;
}
header div{
    display: flex;
    flex-direction: column; /*img vai p baixo*/
}
header div h2{
    padding-bottom: 40px;
}
header div a{
    text-decoration: none;
}
header table img{
    width: 30px;
    height: 30px;
    padding-bottom: 15px;
}
header td{
    
}

#linha_vertical{
    height: 520px;/*Altura da linha*/
    border-left: 1px solid rgb(124, 123, 123);/* Adiciona borda direita na div como ser fosse uma linha.*/
    padding: 10px;
}

main{
    min-width: 300px;
    max-width: 900px;
    text-align: center;
}
section nav{
    display: flex; /*para deixar em linha*/
    align-items: center; /*alinhado do centro*/
}
section nav a{
    text-decoration: none;
    color: white;
}
section nav a p{
    font-size: 0.8em;
    margin-right: 10px;
}

section figure{
    margin: 20px;
}


aside{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside img{
    width: 30px;
    height: 30px;
    padding: 8.5px;
}
aside p{
    display: inline-block;
}