@charset "UTF8";

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #000000e1;
    color: white;
}

header{
    padding: 20px;
}

header div h2{
    padding-bottom: 40px;
    padding-left: 20px;
}
header div a{
    text-decoration: none;
}
header table img{
    width: 30px;
    height: 30px;
    padding: 8.5px;
}

#linha_vertical{
    height: 550px;/*Altura da linha*/
    border-left: 1px solid rgb(124, 123, 123);/* Adiciona borda direita na div como ser fosse uma linha.*/
    padding:10px;
}

main{
    min-width: 300px;
    max-width: 900px;
}
section nav{
    display: flex; /*para deixar em linha*/
    align-items: center; /*alinhado do centro*/
}
section nav a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
}
section nav a img{
    width: 60px;
    height: 60px;
    text-align: center;
    padding-left: 10px;
}
section nav a p{
    font-size: 0.8em;
    margin-right: 10px;
}


#fotoVideo{
    margin: 30px;
    text-align: center;
}
section div p{
    display: inline;
    padding: 10px;
    text-align: left;
}


aside table tr td{
    padding-right: 10px;
}
#meuperfil{
    width: 60px;
    height: 60px;
    padding-bottom: 10px;
}
h5{
    padding: 40px 30px;
}
aside img{
    width: 50px;
    height: 50px;
    padding: 8.5px;
}