@charset "UTF8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --corverde: #49a09d;
    --corlilas: #5f2c82;
}

body, html{
    background-color: var(--corlilas);
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}


section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*tudo q estiver fora da borda, vai ficar escondido*/

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.521);

    transition: width 0.5s, height 0.5s; /*uma animação*/
}

div#imagem{
    display: block;
    background: var(--corlilas) url(imagens/pexels-pascal-weiland-2244429.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    height: 200px;
}

div#formulario{
    display: block;
    padding: 10px;
}