@charset "UTF-8";

@font-face {
    font-family: 'manuscrita';
    src: url(fontes/Handmade.otf) format(opentype);
}
@font-face {
    font-family: 'lagosta';
    src: url(fontes/Lobster\ 1.4.otf) format(opentype);
}

:root{
    --font00: 'Times New Roman', Times, serif;
    --font01: 'manuscrita';
    --font02: 'lagosta';

    --cor01: black;
    --cor02: white;
    --cor03: #2402028a;
    --cor04: ;

}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: rgba(141, 235, 235, 0.774);
    font-family: var(--font00);
    font-size: small;
}

header{
    background-color: var(--cor01);
    color: aliceblue;
    text-align: center;
}
header h1{
    padding: 50px 40px 40px 40px;
    /*text-transform: uppercase; deixar td em letra maiúscula grande
    font-variant: small-caps; deixar td em letra maiúscula menores*/
    font-family: var(--font02);
    font-size: 10vw;
}
header > p{
    padding-bottom: 20px;
    background-color: #2402028a;
}


a{
    text-decoration: none;
    color: rgb(228, 228, 122);
}
a:hover{
    color: blue;
    text-decoration: underline;
}


main{
    background-color: aliceblue;
    
    
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}
section p{
    font-family: var(--font01);
    font-size: 2em;
    line-height: 1.3em;
}


.normal{
    background-color: white;
    color: var(--cor01);
}
.imagem{
    background-color: rgba(170, 168, 172, 0.685);
    color: var(--cor01);
}
section.imagem p{
    background-color: rgba(102, 96, 102, 0.39);
    display: inline-block; /*deixando do tamanho do texto*/
    padding: 10px;
}

section#img1{ /*cor > image > position > repeat > attachment*/
    /*background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background: url(imagens/background001.jpg) center no-repeat fixed;
    background-size: cover;

    color: var(--cor02);
    border-radius: 5px;
    box-shadow: -1px -1px 8px 0px black;
}
section#img2{
    /*background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background: url(imagens/background002.jpg) center no-repeat fixed;
    background-size: cover;
    border-radius: 5px;
    box-shadow: -1px -1px 8px 0px black;
}

footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 10px;
}