@charset "UTF";

/*Configuraçoes gerais*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 255, 0.397);
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    color: wheat;
    text-shadow: 3px 3px 0px black;
    padding: 10px;
}