@charset "UTF8";

@font-face {
    font-family: 'Elegante';
    src: url(fontes/Elegante\ Classica.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: white;
    background-color: #141414;

    overflow-x: hidden; /*tirando a rolagem horizontal*/
} /*colocar border-radius em cima*/

header{
    position: sticky; /*grudavel*/
    top: -1px;
    background-color: #070707;
}
header div {
    display: flex;
    padding: 4px;
}
header img{
    width: 115px; height: 51px;
    cursor: pointer;
}
header p{
    cursor: pointer;
    padding-top: 18px;
    padding-left: 19px;
    font-size: 0.8em;
    font-weight: 600;
    color: #ffffffc0;
}
header p:hover{ /*p tds ficarem mais escuros*/
    color: #ffffff83;
    transition: 0.5s;
}
header a {
    text-decoration: none; 
    color: #ffffffdc
}
header a:hover{ /*p ele ficar mais escuro tb*/
    color: #ffffff83;
    /*colocar um tempo*/
}
#iconeslat{
    margin-top: 10px;
    margin-left: 28.7%;
}
.img{
    width: 28px; height: 26px;

    /*colocar animation na lupa*/
}


#oculto img{
    width: 28px; height: 26px;
    position: relative;
}
#oculto a{
    display: none;
    position: relative;
    background-color: #e41c1c81;
    color: white;
    text-decoration: none;
    padding-left: 1%;

}
#oculto:hover a{
    display: block;
    position: absolute;

    height: 400px; width: 200px;
    margin-top: 2%;
    margin-left: -50px;
}
#oculto p{
    position: absolute;
    display: inline;
    font-size: 0.8em;
}


article div h2{
    font-size: 1.09em;
    color: rgba(255, 255, 255, 0.863);
    padding-left: 4%;
    padding-top: 35px;
}
article div img{
    width: 245px; height: 140px;
    border-radius: 2px;
    padding-top: 10px;
    cursor: pointer;
}
.primeiro{
    padding-left: 4%;
}
#ultimo{
    margin-bottom: 2%;
}

@media (max-width: 1100px){
    header div {
        display: flex;
        padding: 4px;
    }
}

@media (max-width: 900px) {
    

    header div {
        display: flex;
        padding: 2px;
    }
    header img{
        width: 90px; height: 30px;
        cursor: pointer;
    }
    header p{
        padding: 10px;
        display: none; /*tirando os paragrafos*/
    }
    header p:hover{ /*p tds ficarem mais escuros*/
        color: #ffffff83;
        /*colocar um tempo*/
    }
    
    
    #iconeslat{
        margin-top: 10px;
        margin-left: 28.7%;
    }
    .img{
        width: 25px; height: 25px;
    }


    #oculto img{
        width: 28px; height: 26px;
        position: relative;
    }
    #oculto a{
        display: none;
        position: relative;
        background-color: #e41c1c81;
        color: white;
        text-decoration: none;
        padding-left: 1%;

    }
    #oculto:hover a{
        display: block;
        position: absolute;

        height: 400px; width: 200px;
        margin-top: 2%;
        margin-left: -50px;
    }
    #oculto p{
        position: absolute;
        display: inline;
        font-size: 0.8em;
    }


    article div h2{
        font-size: 0.8em;
        color: rgba(255, 255, 255, 0.863);
        padding-left: 4%;
        padding-top: 35px;
    }
    article div img{
        width: 200px; height: 110px;
        border-radius: 2px;
        padding-top: 10px;
        cursor: pointer;
    }
    #ultimo{
        margin-bottom: 5%;
    }
}