@charset "UTF8";

@font-face {
    font-family: 'Elegante';
    src: url(fontes/Elegante\ Classica.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

:root{        
    --fonteEle: 'Elegante';
}

html, body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between; /*vai separar as partes do header do body e do footer*/
}
body{
    min-width: 100vw;
    color: white;
    background-color: #000000e5;

    overflow-x: hidden; /*tirando a rolagem horizontal*/
} /*colocar border-radius em cima*/


header h2{
    margin: 30px;
    margin-top: 24%;
    padding-bottom: 0px;
    font: 100 2.8em var(--fonteEle);
}

main div nav{
    display: flex;
    align-items: center; /*alinhado do centro*/
}
main div a{
    text-decoration: none;
    padding: 5px;
    padding-right: 15px;
    padding-top: 0px;
}

main div img{
    width: 138px; height: 138px;
    padding: 0px;
    padding-top: 0px;
    margin-right: 5px;
    border-radius: 5px;
}
main div img:hover{
    border: 3px solid white;
}

main p{
    color: #e5e5e583;
    text-align: center;
    padding: 5px;
    font-size: 1em;
}
main p:hover{
    color: white;
}

footer{
    margin-top: 9%;
}
footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.384);
    border: 1px solid rgba(139, 137, 137, 0.801);
    padding: 8px;
    padding-left: 28px; padding-right: 28px;
    font: 1.1em 'Times New Roman', Times, serif;
    Letter-spacing: 2px; /*separar as letras*/
}
footer a:hover{
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

#concluido{
    background-color: white;
    color: black;
}
#concluido:hover{
    background-color: red;
    color: white;
    border: 0px;
}


@media (max-width: 700px) {

    header h2{
        margin: 0px;
        margin-top: 55%;
        font-size: 1.9em;
    }

    main div a{
        padding-right: 0px;
    }
    main div img{
        width: 80px; height: 80px;
        padding-top: 20px;
    }
    main div img:hover{
        border: 2px solid white;
        padding: 0px;
        animation: none;
    }
    main p{
        padding: 0px;
        font-size: 0.7em;
    }

    footer{
        margin-top: 11%;
    }
    footer a{
        padding: 8px 25px 8px 25px; 
        font-size: 0.8em;
    }
}

    
@media (max-width: 450px){
    
    header h2{
        margin-top: 10%;
        margin-left: -30%;
        margin-bottom: 30%;
        font-size: 1.3em;
    }
    main div nav{
        display: block;
        columns: 2;
    }
    main div img{
        width: 90px; height: 90px;
        padding-top: 25px;
    }
    main div img:hover{
        border: none;
    }
    main p{
        padding-top: 3px;
        font-size: 0.9em;
        color: white;
    }

    footer{
        display: none;
    }
}