@charset "UTF8";

@font-face {
    font-family: 'Elegante';
    src: url(fontes/Elegante\ Classica.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: white;
    background-color: #0e0d0d;

    overflow-x: hidden; /*tirando a rolagem horizontal*/
} /*colocar border-radius em cima*/

article div h2{
    font-size: 1.09em;
    color: rgba(255, 255, 255, 0.863);
    padding-left: 4%;
    padding-top: 35px;
}
article div img{
    width: 245px; height: 140px;
    border-radius: 2px;
    padding-top: 10px;
    cursor: pointer;
}

footer{
    display: none;
}

@media (max-width: 450px){  
 
    body{
        overflow-x: hidden; /*tirando a rolagem horizontal*/
    }

    header{
        position: sticky; /*grudavel*/
        top: -1px;
        background-color: #070707af;
    }
    header #titulo{
        font-size: 1em;
        padding: 10px;
    }
    header div{
        display: flex;
    }
    
    #iconeslat{
        margin-top: 10px;
        margin-left: 20%;
    }
    .img{
        width: 28px; height: 26px;
    
        /*colocar animation na lupa*/
    }
    header #chrome{
        display: block;
        width: 22px; height: 19px;
    }
    header #lupa{
        display: block;
        width: 22px; height: 22px; 
    }

    #foto{
        text-align: center;
    }
    #foto img{
        text-align: center;
        padding-top: 10px;
        width: 80px;
        border-radius: 10px;
    }
    #foto a{
        display: flex;
        text-align: center;
        text-decoration: none;
        color: white;
    }
    #foto h2{
        font-size: 1.5em;
        padding-left: 35%;
    }
    #foto #setapbaixo{
        display: flex;
        width: 18px; height: 15px;
        margin-left: 5px;
    }

    .notdow{
        display: flex;
    }
    .notdow a{
        display: flex;
        padding-left: 2%;
        text-decoration: none;
    }
    .notdow img{
        width: 40px; height: 40px;
    }
    .notdow p{
        color: white;
        margin: 10px;
        font-size: 1.1em;
    }
    .notdow #setpdireita{
        width: 20px; height: 25px;
        margin: 8px;
    }

    article div h2{
        font-size: 1.2em;
        padding-left: 2%;
        padding-top: 35px;
    }
    article #imagemgrande{
        display: none;
    }

    .continuar1{
        display: none;
    }
    .continuar2{
        display: inline;
        width: 100px; height: 170px;
    }

    article #primeiroarticle{
        display: none;
    } 
    article div img{
        width: 112px; height: 160px;
        border-radius: 3px;
        padding-top: 10px;
        margin-right: 2px;
        cursor: pointer;
    }
    
    #mlist{
        display: flex;
    }
    #mlist h2{
        font-size: 1.2em;
        padding-left: 2%;
        padding-right: 60%;
    }
    #mlist a{
        padding-top: 10%;
    }
    #mlist img{
        width: 20px; height: 25px;
    }

    .primeiro{
        padding-left: 2%;
    }
    main #ultimo{
        margin-bottom: 80px;
    }

    footer{
        display: block;
        width: 99vh;
        position: fixed; /*grudavel*/
        bottom: 0px;
        background-color: #000000;
    }
    footer div{
        display: flex;
    }
    footer #primeirof{
        margin-left: 5%;
    }
    footer img{
        display: flex;
        width: 28px; height: 28px;
        padding-top: 5px;
        margin-right: 60px;
    }
    footer a{
        text-decoration: none;
    }
    footer p{
        margin-top: 5px;
        margin-bottom: 10px;
        color: white;
        font-size: 0.6em;
        font-weight: 600;
    }
}