@charset "UTF8";

@font-face {
    font-family: 'Elegante';
    src: url(fontes/Elegante\ Classica.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: white;
    background-color: #141414;

    overflow-x: hidden; /*tirando a rolagem horizontal*/
} /*colocar border-radius em cima*/

header{
    position: sticky; /*grudavel*/
    top: -1px;
    background-color: #07070767;

    /*Tentar usar o JS
    function fixarCabecalhoTopo() {
    if (window.pageYOffset >= cabecalhoTop) {
        cabecalho.style.positon = "relative";
    } else {
        cabecalho.style.positon = "fixed";
    }*/
}
header div {
    display: flex;

    padding: 4px;
}
header img{
    width: 115px; height: 51px;
    cursor: pointer;
}
header p{
    cursor: pointer;
    padding-top: 18px;
    padding-left: 19px;
    font-size: 0.9em;
    font-weight: 500;
    color: #ffffffdc;
}
#iconeslat{
    margin-top: 10px;
    margin-left: 28.7%;
}
.img{
    width: 28px; height: 26px;
}


#oculto img{
    width: 28px; height: 26px;
    position: relative;
}
#oculto a{
    display: none;
    position: relative;
    background-color: #e41c1c81;
    color: white;
    text-decoration: none;
    padding-left: 1%;

}
#oculto:hover a{
    display: block;
    position: absolute;

    height: 400px; width: 200px;
    margin-top: 2%;
    margin-left: -50px;
}
#oculto p{
    position: absolute;
    display: inline;
    font-size: 0.8em;
}
/*.div1{
    position: relative;
}
.div2{
    position: absolute;
    bottom: 0px;
    padding-left: 40px;
}*/
#seta{
    width: 12px; height: 8px; padding: 11px 8px;
}
#seta:hover{
    padding-left: 0px;
}


article div h2{
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.863);
    padding-left: 4%;
    padding-top: 30px;
    padding-bottom: 8%;
}
article div h2:hover{
    /*ver no resumo Ex0015b*/
}
article div img{
    width: 245px; height: 140px;
    border-radius: 2px;
    padding-top: 10px;
    cursor: pointer;
}
.primeiro{
    padding-left: 4%;
}
#ultimo{
    margin-bottom: 2%;
}