@charset "UTF8";

@font-face {
    font-family: 'Elegante';
    src: url(fontes/Elegante\ Classica.ttf);
}

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: white;
    background-color: #141414;

    overflow-x: hidden; /*tirando a rolagem horizontal*/
} /*colocar border-radius em cima*/

header{
    position: sticky; /*grudavel*/
    top: -1px;
    background-color: #07070767;

    /*Tentar usar o JS
    function fixarCabecalhoTopo() {
    if (window.pageYOffset >= cabecalhoTop) {
        cabecalho.style.positon = "relative";
    } else {
        cabecalho.style.positon = "fixed";
    }*/
}
header div {
    display: flex;
    padding: 4px;
}
header h2, hr, #logo, #titulocll{
    display: none;
}
header #logogrande{
    margin-left: 35px; margin-right: 15px;
    width: 115px;  height: 50px;
}
header #chrome, #botoes{
    display: none;
}

header img{
    width: 115px; height: 51px;
    cursor: pointer;
}
header p{
    cursor: pointer;
    padding-top: 18px;
    padding-left: 19px;
    font-size: 0.8em;
    font-weight: 600;
    color: #ffffffc0;
}
header p:hover{ /*p tds ficarem mais escuros*/
    color: #ffffff83;
    /*colocar um tempo*/
}
header a{
    text-decoration: none; color: #ffffffdc
}
header a:hover{ /*p ele ficar mais escuro tb*/
    color: #ffffff83;
    transition: 0.5s;
}


#iconeslat{
    margin-top: 10px;
    margin-left: 28.7%;
}
#iconeslatcll{
    display: none;
}
.img{
    width: 28px; height: 26px;

    /*colocar animation na lupa*/
}
#sominhaimg{
    display: none;
}
#imgcseta{
    display: block;
}

#oculto #principal{
    display: none;  
}
#oculto:hover #principal{
    display: block;
    position: absolute;

    background-color: rgba(0, 0, 0, 0.904);
    height: 330px; width: 200px;
    margin-top: 1.6%;
    margin-left: -12%;
}
#principal img{
    position: absolute;
    width: 32px; height: 32px;
    left: 1px;
    bottom: -1px;
}
#principal a{
    margin-bottom: -2px;
}
#iconesmenor{
    display: flex;
    flex-direction: column;
}
#iconesmenor a{
    margin-bottom: -9px;
}
#iconesmenor .imgmenor{
    width: 25px; height: 25px;
    padding-left: 3px;
}
#principal a{
    position: relative;
    display: flex;
    text-decoration: none;
}
#principal p{
    display: inline;
    padding-left: 40px;
    font-size: 0.8em;
}
#sair{
    font-size: 0.9em;
    padding-top: 10px;
    padding-left: 20%;
}

#seta{
    width: 12px; height: 8px; padding: 11px 8px;
}
#seta:hover{
    padding-left: 0px;
}

#paranote{
    display: block;
}
#paracll{
    display: none;
}
article div h2{
    font-size: 1.5em;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.863);
    padding-left: 4%;
    padding-top: 28px;
    padding-bottom: 8%;
}
article div img{
    width: 245px; height: 140px;
    border-radius: 2px;
    padding-top: 10px;
    cursor: pointer;
}
.primeiro{
    padding-left: 4%;
}
#ultimo{
    margin-bottom: 2%;
}



@media (max-width: 1100px){
    header div {
        display: flex;
        padding: 4px;
    }
}

@media (max-width: 450px){  
 
    body{
        background-color: #000000;
        overflow-x: visible; /*tirando a rolagem horizontal*/
    }

    header{
        background-color: #070707af;
        position: sticky; /*grudavel*/
        top: -1px;
        /*tentar tirar o backgroung*/
    }
    header #logogrande, #titulonote, #iconeslat, #paranote{
        display: none;
    }
    #titulocll{
        display: block;
        padding: 10px;
    }
    #titulocll img{
        width: 28px; height: 25px;
    }
    header h2{
        display: inline;
        font-size: 1em;
        margin-left: 20px;
    } 
    header hr{
        display: block;
        width: 250%;
        margin-left: -10px;
    } 
    #iconeslatcll{
        display: block;
        margin-top: 10px;
        margin-left: 43%;
    }
    .img{
        width: 28px; height: 28px;
    }


    header #botoes{
        display: block;
    }
    /*header #botoes{
        display: block;
        position: sticky;
    }*/
    header #botoes button{
        cursor: pointer;
        background-color: #2e2e2ec4;
        color: rgba(255, 255, 255, 0.863);
        border: 1px solid rgba(255, 255, 255, 0.76);
        border-radius: 15px;
        font-size: 0.8em;
        padding: 5px 11px 5px 11px;
        margin: 1px -10px 6px 15px;
    }
    header #botoes img{
        display: inline;
        width: 15px; height: 15px;
        margin: -3px;
        margin-left: 1px;
        padding: 0px;
    }

    main #paracll{
        display: block;
    }
    article div p{
        color: white;
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: -5%;
        font-size: 0.8em;
        font-weight: 600;
    }
    article div div {
        display: flex;
    }
    article div div h2{
        font-size: 1.2em;
        color: white;
        padding-left: 2%;
        font-weight: 600;
        margin-bottom: -20px;
    }
    article div div img{
        width: 10px; height: 10px;
        margin-top: 33px;
        margin-left: 5px;
    }

    article #fotos{
        display: block;
    }
    article div nav{
        display: flex; /*coloquei na lateral os icones*/
        justify-content: space-between; /*espaçamento igual*/
    }
    article #fotos img{
        display: flex;
        width: 145px; height: 80px;
        border-radius: 10px;
        cursor: pointer;
    }
    article #fotos p{
        font-size: 0.8em;
        margin-top: 70px;
    }
    article #fotos .play{
        width: 50px; height: 50px;
    }
    .primeiro{
        padding-left: 0%;
    }
    #ultimo{
        margin-bottom: 20px;
    }

}