@charset 'UTF8';

@font-face {
    font-family: 'cabeçalho';
    src: url(estilo/Mogent.otf) format(opentype);
}

@font-face {
    font-family: 'titulo';
    src: url(estilo/02_APompadourTextSample.ttf) format(truetype) url(estilo/03_APompadourBoldSample.otf) format(opentype);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #333;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between; /*vai separar as partes do header do body e do footer*/
}

header{
    background-color: #181717;
    padding: 12px;

    display: flex; /*coloquei na lateral os icones*/
    align-items: center; /*centralizar os icones*/
    justify-content: space-between; /*espaçamento igual*/
}
header nav{
    display: flex; /*para deixar em linha*/
    align-items: center; /*alinhado do centro*/
} 
header nav a{
    margin-right: 1em;
    font-size: 1.3em;
}
header h1{
    color: aqua;
    font-family: 'cabeçalho';
}
header h1:hover{
    color: white;
}



main{
    margin: 15px;
    padding: 10px;
     
    display: flex; /*coloquei na lateral os icones*/
    align-items: center; /*centralizar os icones*/
    justify-content: space-between; /*espaçamento igual*/
}

h1{
    padding: 10px;
    font-family: 'titulo';
    font-size: 1.6em;
}
p{
    text-align: justify;
    width: 80%;
    font-size: 1.2em;
}

.main-content{
    display: flex;
    flex-direction: column; /*deixar a coluna em baixo*/
}
#texto{
    margin-bottom: 10%;
}
#tecno div{
    font-size: 1.1em;
}

.cards-conteiner{
    display: flex; /*para ficar em linha*/
    align-items: center;
    /*justify-content: space-between; deu mt espaço*/
    cursor: pointer;
}

.card img{
    width: 120px;
    height: 120px;
    padding: 2px 2px;
    margin-right: 1.2em;
    background-color: antiquewhite;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.cardp img{
    width: 160px;
    height: 120px;
    padding: 2px 2px;
    margin-right: 1.2em;
    background-color: antiquewhite;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card img:hover{
    box-shadow: 0px 0px 8px 0px rgb(106, 208, 255);
    transition-duration: 0.2s;
}


figure{

}

footer{
    background-color: #181717;
    padding: 15px;

    text-align: center;
}