@charset "UTF-8";

@font-face {
    font-family: supercool;
    src: url(fonts/Super\ Cool\ Personal\ Use.ttf) format(truetype);
}
@font-face {
    font-family: 'fogo';
    src: url(fonts/Blazed.ttf);
}
@font-face {
    font-family: 'manuscrita1';
    src: url(fonts/Handmade.otf) format(opetypre);
}
@font-face {
    font-family: 'manuscrita2';
    src: url(fonts/Monday\ Rain.otf) format(opetypre), url(fonts/Monday\ Rain.ttf) format(truetype);
}

body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-family: 'fogo', sans-serif;
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
}
h2{
    font-family: 'manuscrita1';
    font-weight: 700;
}
p{
    font-family: 'manuscrita2';
    font-size: 140%;
    font-weight: 500;
}
ul{
    font-family: 'manuscrita2';
    font-weight: bold;
    font-size: 125%;
}
a{
    color: black;
    font-family: 'manuscrita2';
    font-weight: bolder;
}
#principal{
    font-size: 50px;
}
.lista{
    text-align: left;
}
#imagem{
    text-align: center;
}
.video{
    text-align: center;
    font-family: 'supercool';
}
.seta{
    text-align: center;
}
.negrito{
    font-weight: bolder;
    color: rgb(179, 24, 24);
}
.borda{
    border: 5px solid black;
}

.importante::after{
    content: ' ⇠';
}
.importante::before{
    content: '⇢ ';
}
.clique:active{
    color: red;
}